---
export interface Props {
  active: boolean;
  icon: string;
}
const { active, icon } = Astro.props;
---

<div class="p-2 aspect-square flex">
  <div class="bg-white aspect-square flex p-2 relative">
    {
      active ? (
        <div class="h-2.5 w-2.5 bg-yellow-500 rounded-full absolute -top-1 -right-1" />
      ) : null
    }
    <img class="w-10 h-10" src={icon} alt="" />
  </div>
</div>
