---
import IconList from "../components/IconList/IconList.astro";
import InfoCard from "../components/InfoCard.astro";
import SideBar from "../components/SideBar.astro";
import Timeline from "../components/Timeline/EducationTimeline.astro";
import ProjectsTimeline from "../components/Timeline/ProjectsTimeline.astro";
import Layout from "../layouts/Layout.astro";

const code = {};
---

<Layout title="Alken Dester">
  <main class="h-full">
    <section
      class="lg:absolute lg:top-0 lg:mb-0 lg:mt-auto lg:left-0 lg:bottom-0 h-[calc(100%-56px)] lg:w-1/2 flex bg-white"
    >
      <img class="object-cover w-full" src="/image.jpeg" alt="" />
    </section>
    <section
      class="lg:absolute lg:top-0 lg:mb-0 lg:mt-auto lg:left-0 lg:bottom-0 h-[calc(100%-56px)] lg:w-1/2 flex lg:ml-[50%]"
    >
      <div class="relative">
        <div class="p-4 lg:ml-20 space-y-8 h-full overflow-auto">
          <div class="my-10 text-center space-y-4">
            <h1 class="text-3xl md:text-5xl font-bold">
              <span class="wave">👋</span>
              <span>Hello!</span>
              <span class="text-gradient">I'm Yeshwanth</span>
            </h1>
            <div>20 - Bangalore, India</div>
          </div>
          <InfoCard title="About" href="about">
            I'm a seft thought Front-End Web developer who loves Designing
            beautiful UI's.
          </InfoCard>
          <InfoCard title="Projects" href="projects">
            <ProjectsTimeline />
          </InfoCard>
          <InfoCard title="Education" href="education">
            <Timeline />
          </InfoCard>
          <InfoCard title="Code" href="code">
            <div class="flex items-center space-x-2 mb-4">
              <div class="text-xs font-semibold text-zinc-400">Learning</div>
              <div class="h-2.5 w-2.5 bg-yellow-500 rounded-full"></div>
            </div>
            <IconList />
          </InfoCard>
        </div>
        <SideBar />
      </div>
    </section>
  </main>

  <style>
    .wave {
      animation-name: wave-animation;
      animation-duration: 2.5s;
      animation-iteration-count: infinite;
      transform-origin: 70% 70%;
      display: inline-block;
    }

    @keyframes wave-animation {
      0% {
        transform: rotate(0deg);
      }
      10% {
        transform: rotate(15deg);
      }
      20% {
        transform: rotate(-10deg);
      }
      30% {
        transform: rotate(15deg);
      }
      40% {
        transform: rotate(-5deg);
      }
      50% {
        transform: rotate(10deg);
      }
      60% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }
  </style>
</Layout>
