---
import config from "../../config.json";
---

<nav
  class="hidden absolute left-0 top-0 bottom-0 h-full lg:flex justify-center items-center"
>
  <ul>
    {
      config.nav.map((navItem) => (
        <a href={navItem.href}>
          <li class="h-20 w-20 flex justify-center items-center">
            <img class="w-8" src={navItem.icon} alt="" />
          </li>
        </a>
      ))
    }
  </ul>
</nav>

<style>
  li {
    opacity: 1;
    transition: opacity 0.3s;
  }

  li:hover {
    opacity: 1;
  }

  nav:hover li:not(:hover) {
    opacity: 0.4;
  }
</style>
