---
import TimeCard from "./TimeCard.astro";
import config from "../../../config.json";
---

<div class="wrapper">
  {
    config.timeline.map((item, index) => (
      <TimeCard
        title={item.title}
        subTitle={item.subTitle}
        firstChild={index === 0}
      />
    ))
  }
</div>
